extends layout

block content
	//- meta(http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate")
	//- meta(http-equiv="Pragma" content="no-cache")
	#lead
		h1= Skolundersökning
		p Uh oh. Something serious broke. This poll is named '#{poll.id}' It has a database hash of #{poll._id} and is owned by #{poll.owner}. Sorry!

	#form
	
	#bottombuttons

	script(type="text/javascript", id="data").
		var poll = !{JSON.stringify(poll)};
		//- history.navigationMode = 'compatible';

	+serveJS('clientPoll.js')