//doctype html
extends layout

block content
	h1= title
	p Hah! This is poll number #{poll.id}. It has a database hash of #{poll._id} and is owned by #{poll.owner}.

	
	#question
		//h2 Question info
		table
			thead
				th Question Number
				th Question Prompt
				th Question Type
			tbody
	script(type="text/javascript", id="data").
		var poll = !{JSON.stringify(poll)};
	if jsexists
		script(src= '../dist/javascripts/client_poll.js')
	else
		script(src= '../javascripts/client_poll.js')