//doctype html
extends layout

block content
	#lead
		h1= title
		p Uh oh. Something serious broke. This poll is named '#{poll.id}' It has a database hash of #{poll._id} and is owned by #{poll.owner}. Sorry!

	#form
	
	#bottombuttons

	script(type="text/javascript", id="data").
		var poll = !{JSON.stringify(poll)};



	if locals.expose['client_poll.js']
		script(src= '../dist/javascripts/client_poll.js')
	else
		script(src= '../javascripts/client_poll.js')